nav {
	float: right;
	margin-top: 1%;
	margin-right: 5%;
	// width: 40%;
	background-color: transparent;

	ul {
		margin: 0;
		padding: 0;
		display: flex;

		li {
			list-style-type: none;
			padding: 20px;
			width: fit-content;
			/*when I specify 2 values to margin, the first one is for the top and bottom side, the second for the left and right side*/
			margin: 0 2vw;

			.link {
				text-decoration: none;

				/*below I changed the color*/
				//color: rgba(255, 255, 255, 1);
				/*I added some padding*/
				// padding:0 2vw;
				/*also changed the font family but that's totally irrelevant*/
				letter-spacing: 1.34px;

				&:hover {
					//background-color: #ad0c2f;
					font-weight: bolder;

					// text-decoration: underline;
				}
				&:active {
					//background-color: #ad0c2f;
					font-weight: bolder;

					// text-decoration: underline;
				}
			}
		}
	}
}




@media only screen and (max-width: 500px) {

	/*shows elements in a column*/
	ul {
		flex-direction: column;
	}

	/* deletes margin on top or bottom of the a tag*/
	li {
		margin: 0;
	}

	/* makes sure that the a tag will take the entire screen*/
	a {
		display: block;
	}

	button {
		/*makes the button visible*/
		display: block;

		/*since we are here, we can style it a little bit!*/
		padding: 2vw;
		font-size: 3vh;
		background-color: #AFE0FF;
		border: none;

		/*outline none removes the default blue border that appears anytime you click on the button*/
		outline: none;

		cursor: pointer;
	}
}